* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background: #000;
}
.container {
  position: relative;
  height: 60vh;
}
.container img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  --dx: 0;
  --dy: 0;
  transform: translate(calc(var(--dx) * 1px), calc(var(--dy) * -1px));
}

.container img:hover {
  transform: translate(calc(var(--dx) * 1px), calc(var(--dy) * -1px)) scale(1.2);
  z-index: 1;
}

.btn {
  border: none;
  outline: none;
  background: #409eff;
  color: #fff;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  transition: 0.1s;
  font-weight: 500;
  user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.btns {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.btn:hover {
  background: #66b1ff;
}
.btn:active {
  background: #3a8ee6;
}
.btn:disabled {
  background: #66b1ff80;
  cursor: not-allowed;
}
